---
import Layout from "../layouts/Layout.astro";

import HomeHero from "../components/home/HomeHero.astro";
import HomeCta from "../components/home/HomeCta.astro";
import HomeFeatures from "../components/home/HomeFeatures.astro";

import RequestEstimate from "../components/RequestEstimate.astro";
import TestimonialCloud from "../components/TestimonialCloud.astro";
import ServiceList from "../components/ServiceList.astro";

import { getCoreServices } from "../data/services/index";
import ServiceAreas from "../components/ServiceAreas.astro";

const coreServices = getCoreServices();
---

<Layout title="Saddle & Spur Construction">
  <HomeHero />
  <RequestEstimate />
  <HomeFeatures />

  <section id="services-gallery" class="bg-gray-50 py-32">
    <ServiceList
      services={coreServices}
      category="Featured Services"
      cta="Find the Right Service"
      ctaHref="/services"
    />
  </section>

  <ServiceAreas />

  <TestimonialCloud />
  <HomeCta />
</Layout>
